<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=.\MSSQLSERVER2016;Database=DBSample;Trusted_Connection=True;"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService1Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://b2b.kadioglukirtasiye.com.tr/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="KadiService.WebService1Soap" name="WebService1Soap" />
        </client>
    </system.serviceModel>
</configuration>
